#wrapper-test-dialog {
    display: none;
    padding: 4%;
}

.wrapper-bpn-dialog {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper-test-dialog .wrapper-body-message-pop-up,
#wrapper-bpn-dialog .wrapper-body-message-pop-up {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 4%;
}

#wrapper-bpn-dialog .buttons-wrapper {
    text-align: center;
}

.ui-dialog .ui-dialog-titlebar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #48a9e4;
    background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
    background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
    background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
    background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
    background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}

/* Change the margin of the pop and width*/
.bpn-model-popup {
    top: 10px !important;
    width: 35% !important;
}

/* Css for PopUp */
.bpn-model-popup .ui-widget-header,
.bpn-model-popup .ui-widget-content {
    border: none !important;
}

/* Change the width of the Model PopUp */
.bpn-model-popup .ui-dialog-title {
    width: 94%;
}

.ui-dialog .ui-dialog-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px;
}

/* Css for the Button set of popup */
.bpn-model-popup .ui-dialog-buttonset {
    float: none !important;
}

/* Remove unwanted fields from the data*/
.bpn-model-popup .bpn_message_div {
    display: none !important;
}

/* Css for the Allow Button of popup */
.bpn-model-popup .button--allow {
    text-decoration: none !important;
    font-weight: bold !important;
    display: inline-block !important;
    color: #fff !important;
    text-transform: uppercase !important;
    background: #f5821f !important;
    text-align: center !important;
    line-height: 38px !important;
    height: 34px !important;
    font-size: 13px !important;
    width: 80px !important;
    margin-left: 28% !important;
}

/* Css for the Cancel Button of popup */
.bpn-model-popup .button--cancel {
    text-decoration: none !important;
    font-weight: bold !important;
    display: inline-block !important;
    color: #fff !important;
    text-transform: uppercase !important;
    background: #7d7d7d !important;
    text-align: center !important;
    line-height: 38px !important;
    height: 34px !important;
    font-size: 13px !important;
    width: 80px !important;
    margin-left: 0% !important;
}
